{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Product info
{% endblock title %}

{% block content %}
<table bordercolor="black" border="2" width="100%">
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Дата публикации
                </td>
                <td>
                    Текст
                </td>
                <td>
                    Автор
                </td>
                <td>
                    Категория
                </td>
            </tr>
             <tr>
                 <td>
                    {{ article.title|censor }}
                </td>
                 <td>
                    {{ article.creation_date|date:'d-M-Y H:i' }}
                </td>
                <td>
                    {{ article.body|censor }}
                </td>
                <td>
                    {{ article.author }}
                </td>
                <td>
                    {{ article.category }}
                </td>
            </tr>
        </table>

{% if subscribed %}
    <form action = "{% url 'subscribe' article.id %}" method="post">
        {% csrf_token %}
        <button type="submit" name="category" value="{{ article.category.id }}">Отписаться от {{ article.category }}</button>
    </form>
{% else %}
    <form action = "{% url 'subscribe' article.id %}" method="post">
        {% csrf_token %}
        <button type="submit" name="category" value="{{ article.category.id }}">Подписаться на {{ article.category }}</button>
    </form>
{% endif %}

<a class="btn btn-primary" href="/news ">Вернуться к списку новостей</a> <br>

{% endblock content %}