{% extends 'flatpages/default.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
Новости нашего городка
{% endblock title %}

{% block content %}
<h1>Все новости:</h1>
<a class="btn btn-primary" href="/news/search"> Страница поиска </a>
 {% if news %}
         <table bordercolor="black" border="4" width="100%">
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Дата публикации
                </td>
                <td>
                    Текст
                </td>
                <td>
                    Автор
                </td>
            </tr>
             {% for article in news|dictsortreversed:"creation_date" %}
             <tr>
                <td>
                    <a href="{% url 'article' article.id %}" style="color:white;">{{ article.title|censor }}</a>
                    <a href="{% url 'article_edit' article.id %}" style="color:white;">
                        <img border="0" alt="Редактировать" src="{% static 'edit.png' %}" width="25" height="25">
                    </a>
                    <a href="{% url 'article_delete' article.id %}" style="color:white;">
                        <img border="0" alt="Удалить" src="{% static 'delete.png' %}" width="25" height="25">
                    </a>
                </td>
                 <td>
                    {{ article.creation_date|date:'d-M-Y H:i' }}
                </td>
                <td>
                    {{ article.body|truncatechars:50|censor }}
                </td>
                 <td>
                    {{ article.author }}
                </td>
            </tr>
             {% endfor %}
        </table>
    {% else %}
        <h2> Нет новостей! </h2>
    {% endif %}

<a class="btn btn-primary" href="{% url 'article_create' %}">Добавить статью</a> <br>

{% if is_paginated %}

    <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

{% endif %}
{% endblock content %}