{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Products
{% endblock title %}

{% block content %}
<h1>Все товары</h1>

<h3>{{ time_now|date:'d M y' }}</h3>

<form method="GET">
    {{ filter.form }}
    <input type="submit" value="Найти">
</form>

    {% if products %}
         <table bordercolor="black" border="2" width="100%">
            <tr>
                <td>
                    Название
                </td>
                <td>
                    Описание
                </td>
                <td>
                    Категория
                </td>
                <td>
                    Цена
                </td>
                <td>
                    Количество
                </td>
            </tr>
              {% for product in filter.qs %}
             <tr>
                <td>
                    <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
                    <a href="{% url 'product_update' product.id %}"><u>Редактировать</u></a>
                    <a href="{% url 'product_delete' product.id %}"><u> Удалить </u></a>
                </td>
                <td>
                    {{ product.description|truncatewords:4 }}
                </td>
                <td>
                    {{ product.category.name }}
                </td>
                <td>
                    {{ product.price }}
                </td>
                <td>
                    {{ product.quantity }}
                </td>
            </tr>
             {% endfor %}
        </table>
    {% else %}
        <h2> Машин нет </h2>
    {% endif %}

<a href="{% url 'product_create' %}">Добавить новый товар</a> <br>

    <!-- Проверяем что поддерживается постраничный вывод -->
{% if is_paginated %}

    <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

{% endif %}

{% endblock content %}